appdirs==1.4.3
attrs==17.3.0
Cython==0.27.3
decorator==4.1.2
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
Mako==1.0.7
MarkupSafe==1.0
numpy==1.13.3
parso==0.1.0
pexpect==4.3.0
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.2
pycuda==2017.1.1
Pygments==2.2.0
pytest==3.3.0
pytools==2017.6
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7

# make symbolic links of graph_tool, cairo and gi if the virtual envirnoment is initialized with --no-site-packages
